on:
  push:
    branches:
      - main
      - dev
      - dev/*
    paths:
      - 'docs/**'
  pull_request:
    paths:
      - 'docs/**'

jobs:
  build-doc:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.x"

    - name: Install pip packages
      working-directory: docs
      run: |
        pip install pip --upgrade
        pip install -r requirements.txt

    - name: Build doc
      working-directory: docs
      run: |
        make html SPHINXOPTS='-W --keep-going'

    - name: Store the generated doc
      uses: actions/upload-artifact@v4
      with:
        name: html
        path: docs/_build/html

  deploy-gh-pages:
    runs-on: ubuntu-latest
    needs: build-doc
    permissions:
      contents: write
    if: ${{ github.ref == 'refs/heads/main' || github.event_name == 'pull_request' }}

    steps:
    - uses: analogdevicesinc/doctools/gh-pages-deploy@action
      with:
        name: html
